name: tests

on:
  pull_request:
  push:
    branches: [master]

jobs:
  tox:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-22.04]
        py: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.py }}
        cache: pip
    - run: |
        python -m pip install --upgrade tox
        sudo -E env PATH=$PATH tox

  pre-commit:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        py: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.py }}
        cache: pip
    - uses: pre-commit/action@v3.0.1
